* {
  margin: 0;
  padding: 0;
}
body {
    background-color: #A6ACAF;
    font-family: 'Hurricane', cursive;
    font-family: 'Signika Negative', sans-serif;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 99%;
}
.container {
  border-radius: 5px;
  background-color: #eaf2f8;
  width: 50%;
  padding: 15px;
}
input,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 17px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
}
input:focus{
  outline: none;
  border: 2px solid #85C1E9;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.label-div {
  width: 25%;
  margin-top: 0;
}
.value-div {
  width: 100%;
  margin-top: 0;
  display: flex;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}
span {
  background-color: #f8f9f9;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#removegst {
  background-color: red;
}
#clear {
  background-color: gray;
}
.heading {
  text-align: center;
  margin-top: 10px;
}
